<div class="container">

  <div class="row">

    <div class="col-md-12">

        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#">Diccionario Biblico Online</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                  <a class="nav-link" href="#">Inicio <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Biblias
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Reina Valera</a>
                    <a class="dropdown-item" href="#">Dios Habla Hoy</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Cantera Iglesias</a>
                  </div>
                </li>
                <li class="nav-item">
                  <a class="nav-link disabled" href="#">Disabled</a>
                </li>
              </ul>
              <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Buscar" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
              </form>
            </div>
          </nav>


    </div>

  </div>


  {{verificar | json}}


  <div class="row">

    <div class="col-md-6">

      <div class="form-group">
        <label for="usr">Nombre</label>
        <input type="text" [(ngModel)]="verificar.Nombre"  class="form-control">
      </div>

      <div class="form-group">
          <label for="usr">Apellifdo</label>
          <input type="text" [(ngModel)]="verificar.Apellido"  class="form-control">
      </div>

      <div class="form-group">
            <label for="usr">Edad</label>
          <input type="text" [(ngModel)]="verificar.Edad"  class="form-control">
      </div>

      <div class="form-group">
          <label for="usr">Direccion</label>
          <input type="text" [(ngModel)]="verificar.Direccion"  class="form-control">
      </div>

    </div>


  </div>

  
</div>